[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://gitclone.com/github.com/ZUKUNFTL/glfw
[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://gitclone.com/github.com/ZUKUNFTL/spdlog.git
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://gitclone.com/github.com/ZUKUNFTL/imgui
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://gitclone.com/github.com/ZUKUNFTL/glm
[submodule "Hazel/vendor/yaml-cpp"]
	path = Hazel/vendor/yaml-cpp
	url = http://gitclone.com/github.com/ZUKUNFTL/yaml-cpp
[submodule "Hazel/vendor/ImGuizmo"]
	path = Hazel/vendor/ImGuizmo
	url = https://gitclone.com/github.com/ZUKUNFTL/ImGuizmo
