[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://gitclone.com/github.com/TheCherno/glfw
[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://gitclone.com/github.com/gabime/spdlog.git
